# macOS system files
.DS_Store
**/.DS_Store

# Python cache/bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Build artifacts
*.egg-info/
dist/
build/__pycache__/
*.pyc
.env
.env.*
.vscode/
.idea/
.DS_Store
.streamlit/
**/secrets.*
**/*.ipynb_checkpoints/


# macOS cruft
.DS_Store
**/.DS_Store
